*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    
    /* background-color: bisque; */
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 14vh;
    width: auto;
    position: relative;
    /* flex: 1; */
}
#navbar #logo{
    height: 100%;
}

#navbar #logo img{
    height: 104px; 
}

#navbar #links{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    position: relative;

    /* border: solid blue; */
    width: 600px;
    
    /* background-color: aqua; */
    /* padding: 15px; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex: 1; */

}
#navbar #links a{
    color: #001C66;
    /* border: solid green; */
    text-decoration: none;
    padding: 10px;
}

#navbar #links a:hover{
    color: #222222;
}

#navbar #links .store-container .dropdowns{
    display: none;
    
}

#navbar #links .store-container .dropdowns .dropdown{
    /* display: none; */
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    position: absolute;
    top: 6vh;
    left: 13vh;

    background-color: white;

    height: 250px;
    width: 215px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* border: solid red; */
    padding: 5px;

    border-radius: 12px;
    border: solid 0.5px rgb(227, 227, 227);
}

#navbar #links .store-container .dropdown a{
    color: #1D2D5A;
    padding: 12px;
    /* border: solid; */
    /* border-bottom: 0.2px solid rgb(227, 227, 227); */
}
#navbar #links .store-container .dropdown a.one{
    border-bottom: 0.2px solid rgb(227, 227, 227);
}

#navbar .dropdown a:hover{
    color: #222222;
}


#navbar #cart button{
    background-color: white;    
    color: rgb(82, 80, 80);
    border: grey solid 0.5px;
    padding: 12px 20px;
}

/* ==================== Cart Section =================== */

#cartSection{
    /* border: solid red; */
    margin: auto;
    height: 410px;
    width: 70%;


    font-family: "Poppins", sans-serif;
    font-style: normal;

}
#cartSection article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border: solid springgreen; */
}
#cartSection article h2{
    /* border: solid blue; */
    padding-top: 40px;
    font-size: 65px;
    font-weight: 700;
    
}

#cartSection article div{
    display: flex;

    column-gap: 10px;
    color: #515151;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 15px;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 92%;

    background-color: #F7F6F7;
    border-top: solid black;
}

#cartSection article .returnToShop{
    /* border: solid blue; */
    display: flex;
    width: 100%;
    background-color: white;

    padding-top: 30px;
    padding-left: 40px;

}

#cartSection article .returnToShop a{
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;

    text-decoration: none;
    color: white;
    padding: 20px 28px;
    background-color: #221B67;
}







/* ==================== Last Section =================== */

#lastinfo{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #1B1464;
    color: white;
    /* border: solid red; */
    display: flex;
    padding: 50px 220px 60px 120px;
}
#lastinfo .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    
    /* border: solid green; */
    

    padding: 10px;
    height: 400px;
    width: 395px;

}
#lastinfo .about .intro{
    font-size: 14px;
    font-weight: 300;
    
}
#lastinfo .about h1{
    font-size: 25px;
    font-weight: 600;

}
#lastinfo .about h1 a{
    text-decoration: none;
    color: white;
}

#lastinfo .about .logo img{
    width: 108px;
}

#lastinfo .about .social-icons{
    padding-top: 30px;
    display: flex;
    column-gap: 20px;
}

#lastinfo .about .social-icons a{

    color: white;
    text-decoration: none;
    font-size: 25px;
}

#lastinfo .product{
    width: 280px;
    font-weight: 300;
}

#lastinfo .product h2{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}

#lastinfo .product ul li{
    list-style: none;
    padding-bottom: 10px;
    
}

#lastinfo .product ul li a{
    text-decoration: none;
    color: white;
}


#lastinfo .section{
    width: 280px;
    font-weight: 300;
}
#lastinfo .section h2{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}

#lastinfo .section ul li a{
    text-decoration: none;
    color: white;

}
#lastinfo .section ul li{
    list-style: none;
    padding-bottom: 10px;
}


#lastinfo .contactSection{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#lastinfo .contactSection h2{
    font-size: 22px;
    font-weight: 600;
}

#lastinfo .contactSection div{
    font-weight: 300; 
}

/* ============== footer ============= */

footer{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}